/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.effect-1 {
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
}

.show-effect-1 {
	transform: scale(1);
	opacity: 1;
}

/* Effect 2: Slide from the right */
.effect-2 {
	transform: translateX(20%);
	opacity: 0;
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.show-effect-2 {
	transform: translateX(0);
	opacity: 1;
}

/* Effect 3: Slide from the bottom */
.effect-3 {
	transform: translateY(20%);
	opacity: 0;
	transition: all 0.3s;
}

.show-effect-3 {
	transform: translateY(0);
	opacity: 1;
}

/* Effect 4: Newspaper */
.effect-4 {
	transform: scale(0) rotate(720deg);
	transition: all 0.3s;
	opacity: 0;
}

.show-effect-4 {
	transform: scale(1) rotate(0deg);
	opacity: 1;
}

/* Effect 5: fall */
.effect-5-modal {
	perspective: 1300px;
}

.effect-5 {
	transform-style: preserve-3d;
	transform: translateZ(600px) rotateX(20deg);
	opacity: 0;
}

.show-effect-5 {
	transition: all 0.3s ease-in;
	transform: translateZ(0px) rotateX(0deg);
	opacity: 1;
}

/* Effect 6: side fall */
.effect-6-modal {
	perspective: 1300px;
}

.effect-6 {
	transform-style: preserve-3d;
	transform: translate(30%) translateZ(600px) rotate(10deg);
	opacity: 0;
}

.show-effect-6 {
	transition: all 0.3s ease-in;
	transform: translate(0%) translateZ(0) rotate(0deg);
	opacity: 1;
}

/* Effect 7:  slide and stick to top */
.effect-7 {
	top: 0;
	transform: translateX(-50%);
}

.effect-7 {
	transform: translateY(-200%);
	transition: all 0.3s;
	opacity: 0;
}

.show-effect-7 {
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
}

/* Effect 8: 3D flip horizontal */
.effect-8-modal {
	perspective: 1300px;
}

.effect-8 {
	transform-style: preserve-3d;
	transform: rotateY(-70deg);
	transition: all 0.3s;
	opacity: 0;
}

.show-effect-8 {
	transform: rotateY(0deg);
	opacity: 1;
}

/* Effect 9: 3D flip vertical */
.effect-9-modal {
	perspective: 1300px;
}

.effect-9 {
	transform-style: preserve-3d;
	transform: rotateX(-70deg);
	transition: all 0.3s;
	opacity: 0;
}

.show-effect-9 {
	transform: rotateX(0deg);
	opacity: 1;
}

/* Effect 10: 3D sign */
.effect-10-modal {
	perspective: 1300px;
}

.effect-10 {
	transform-style: preserve-3d;
	transform: rotateX(-60deg);
	transform-origin: 50% 0;
	opacity: 0;
	transition: all 0.3s;
}

.show-effect-10 {
	transform: rotateX(0deg);
	opacity: 1;
}

/* Effect 11: Super scaled */
.effect-11 {
	transform: scale(2);
	opacity: 0;
	transition: all 0.3s;
}

.show-effect-11 {
	transform: scale(1);
	opacity: 1;
}

/* Effect 13: 3D slit */
.effect-12-modal {
	perspective: 1300px;
}

.effect-12 {
	transform-style: preserve-3d;
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
}

.show-effect-12 {
	animation: slit 0.3s forwards ease-out;
}

@-webkit-keyframes slit {
	50% {
		-webkit-transform: translateZ(-250px) rotateY(89deg);
		opacity: 0.5;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}

@-moz-keyframes slit {
	50% {
		-moz-transform: translateZ(-250px) rotateY(89deg);
		opacity: 0.5;
		-moz-animation-timing-function: ease-out;
	}
	100% {
		-moz-transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes slit {
	50% {
		transform: translateZ(-250px) rotateY(89deg);
		opacity: 1;
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}

/* Effect 14:  3D Rotate from bottom */
.effect-13-modal {
	perspective: 1300px;
}

.effect-13 {
	transform-style: preserve-3d;
	transform: translateY(100%) rotateX(90deg);
	transform-origin: 0 100%;
	opacity: 0;
	transition: all 0.3s ease-out;
}

.show-effect-13 {
	transform: translateY(0%) rotateX(0deg);
	opacity: 1;
}

/* Effect 15:  3D Rotate in from left */
.effect-14-modal {
	perspective: 1300px;
}

.effect-14 {
	transform-style: preserve-3d;
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform-origin: 0 100%;
	opacity: 0;
	transition: all 0.3s;
}

.show-effect-14 {
	transform: translateZ(0px) translateX(0%) rotateY(0deg);
	opacity: 1;
}
